<div class="container">
  <div class="d-flex">
    <div class="col-md-4 p-3 ps-0">
      <button type="button" class="btn btn-success">Add Customer</button>
    </div>
    <div class="col-md-8 pt-3 d-flex justify-content-end">
      <div class="form-group">
        <input type="text" class="form-control mb-2" placeholder="Search customer..." [(ngModel)]="query">
      </div>
      <div class="form-check pt-2" style="margin-left: 15px;">
        <input type="radio" class="form-check-input" id="active" name="optradio" value="active"
          [(ngModel)]="selectedOption">Active
        <label class="form-check-label" for="active"></label>
      </div>
      <div class="form-check- pt-2" style="margin-left: 15px;">
        <input type="radio" class="form-check-input" id="inactive" name="optradio" value="inactive"
          [(ngModel)]="selectedOption">Inactive
        <label class="form-check-label" for="inactive"></label>
      </div>
      <div class="form-check pt-2" style="margin-left: 15px;">
        <input type="radio" class="form-check-input" id="all" name="optradio" value="all"
          [(ngModel)]="selectedOption">All
        <label class="form-check-label" for="all"></label>
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="main-box clearfix">
      <div class="table-responsive">
        <table class="table user-list">
          <thead>
            <tr>
              <th><span>Customer</span></th>
              <th><span>Email</span></th>
              <th><span>Status</span></th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let customer of (searchCustomer() | paginate: { itemsPerPage: 10, currentPage: page })">
              <td>

                <a class="">{{ customer.firstName+' '+customer.lastName }}</a>
              </td>
              <td>
                <a href="#">{{ customer.email }}</a>
              </td>
              <td>{{customer.active ? 'Active' : 'Inactive'}}</td>
              <td class="text-center" style="width: 15%;">

                <a class="table-link">
                  <span class="fa-stack">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
                <a class="table-link danger">
                  <span class="fa-stack">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                  </span>
                </a>

              </td>
            </tr>
            <tr>

            </tr>
          </tbody>
        </table>
      </div>
      <pagination-controls (pageChange)="page = $event" class="text-center"></pagination-controls>
    </div>
  </div>

</div>